// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url(/assets/oldTown.jpg);
}

.TabsBorder
{
	border:solid 1px #798EC5;
}

.checkout-label {
  margin-left: 20px;
}

.TextDest 
{
	color:#FF7F50
}

.select
{
  width: 300px;
}

div#outerFrame 
{
   width: 450px;
   position: fixed;
   top: 10%;
   left: 10%;	
}

div#frame-title {
  margin-left: 30px;
}

.button
{
  float: right;
}

.room-select {
  margin-left: 30px;
}

.adults-select {
  margin-left: 15px;
}

.children-select {
  margin-left: 25px;
}

.child1-age-select {
  margin-left: 30px;
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.child2-age-select {
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.line-separator {
  margin-left: 30px;
}

html, body {
    width: 100%;
}
